@import url('https://fonts.googleapis.com/css?family=Spinnaker');

div.preloader.preloader-xl p.loading-text {
  font-size: 180px;
  line-height: 180px;
  margin-bottom: 0;
}

div.preloader.preloader-xl div  {
  height: 180px;
  margin-top: -120px;
}

div#hero h2{
  font-size: 3em;
}

div#hero h3 {
  font-size: 2.5em;
}

@media (max-width: 767px) {
  nav h1 {
    font-size: 60px;
    line-height: 105px;
    width: 100%;
    margin-bottom: 0px;
  }

  div#hero h2{
    font-size: 30px;
  }

  div#hero h3 {
    font-size: 24px;
  }

  div#hero button span, div#hero a.cta span {
    font-size: 16px;
    top: 5px;
  }
}

section#fullscreen .cta {
  margin-left: -16px;
}

section#fullscreen.fs-coming-soon h1 {
  font-size: 115px;
}

section#fullscreen.fs-coming-soon h2 {
  font-size: 1.8em;
}

section#fullscreen.fs-coming-soon h3 {
  font-size: 40px;
}

.timer-wrap-outer .timer-wrap span {
  padding-top: 6px;
}

.timer-wrap-outer span.sep {
  padding-top: 0;
}

h1, h2, h3, h4, h5, p, span, label, button, li, a, input, textarea, .owl-nav > div{
  font-family: 'Spinnaker', sans-serif;
}

@media (max-width: 767px) {
  section#fullscreen h1 {
    font-size: 60px;
  }

  section#fullscreen h2 {
    font-size: 1.414em;
  }

  section#fullscreen .cta {
    margin: 0 !important;
  }



  section#fullscreen.fs-coming-soon h1 {
    font-size: 55px;
  }

  section#fullscreen.fs-coming-soon h2 {
    font-size: 1.65em;
  }

  section#fullscreen.fs-coming-soon h3 {
    font-size: 23px;
    line-height: 35px;
  }

  section#fullscreen.coming-soon-background:before {
    height: 49%;
  }

  section#fullscreen.coming-soon-background:after {
    height: 51%;
  }

  .timer-wrap-outer .timer-wrap span {
    font-size: .65em;
  }

  .timer-wrap-outer span.sep {
    top: -7px;
  }

}

@media ( min-width: 768px ) and ( max-width: 1024px ) and (orientation: portrait) {
  div#hero button, div#hero a.cta {
    font-size: 16px;
  }

  div#hero button span, div#hero a.cta span {
    top: calc(50% - 13px);
  }

  section#fullscreen h1 {
    font-size: 135px;
  }

  section#fullscreen h2 {
    font-size: 2.25em;
  }

}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  section#fullscreen.fs-coming-soon h1 {
    font-size: 95px;
  }

  section#fullscreen.fs-coming-soon h2 {
    font-size: 1.5em;
  }

  section#fullscreen.fs-coming-soon h3 {
    font-size: 30px;
  }
}














